<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<form action="/" method="post" enctype="multipart/form-data">
    <fieldset>
        <label for="Username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Please enter your username or email id" />
        <br />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Please enter your password">
        <br />
        <input type="submit" value="Login" />
        <br />
        <input type="button" value="Cancel" />
    </fieldset>
</form>
</body>
</html>