<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<form action="/login" method="post">
    <fieldset>
        <label for="Username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Please enter your username or email id" />
        <br />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Please enter your password">
        <br />
        <input type="submit" value="Login" />
        <br />
        <p>Need an account? <a href="/signup">Signup</a></p>
    </fieldset>
</form>
</body>
</html>